<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="{{static_url('lib/js/jquery.min.js')}}" type='text/javascript'></script>
    <script src="{{static_url('lib/js/bootstrap.min.js')}}" type='text/javascript'></script>
    <script src="{{static_url('main.js')}}" type='text/javascript'></script>
    <script src="{{static_url('lib/js/jquery.dataTables.min.js')}}" type='text/javascript'></script>
    <script src="{{static_url('lib/js/bootstrap.dataTables.min.js')}}" type='text/javascript'></script>

    <link href="{{static_url('lib/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{static_url('lib/css/markdown.css')}}" rel="stylesheet">
    <link href="{{static_url('lib/css/markdown_edit.css')}}" rel="stylesheet">
    <link href="{{static_url('lib/css/bootstrap.dataTables.min.css')}}" rel="stylesheet">
  </head>
  <body>
    <p id='doc_id' style="display:none">{{fid}}</p>
    <div class='header' >
      <input type='button' id="doc_modal" data-toggle="modal" data-target="#all_doc" value='mydocs' style="float: left">
      <select id="sync" style="float: left">
        <option value="y">sync</option>
        <option value="n" selected="selected">not sync</option>
      </select>
      <input type='button' onclick="preview();" value='preview' style='float:right;'/><input type='button' onclick="createDoc();" value='new one' style='float:right;'>
    </div>

    <!-- Modal -->
    <div id="all_doc" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h3 class="modal-title">All my notes</h3></div>
          <div class="modal-body"><p id="modal_body">Some text in the modal.</p></div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>

    <div class='show' style='height:100%; padding: 10px; padding-top: 50px;'>
      <div class='left' style='float: left; width: 46%; position: relative; left: 1%; overflow: hidden; height: 850px'>
        <textarea id='raw' style='width: 98%; height: 98%; resize: none;' oninput="updatePreview();">{{raw}}</textarea>
      </div>
      <div class='right' style='float: left; width: 49%; position: relative; left: 4%; overflow: hidden; height: 850px'>
        <div id='mirror' class="html-output markdown-body" style="width: 98%; height: 98%; border: ridge; ">{% raw html %}</div>
      </div>
    </div>
  </body>
</html>
