<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["editor_title"]) }}</title>
    <script src="{{static_url('lib/js/jquery.min.js')}}" type='text/javascript'></script>
    <script src="{{static_url('lib/js/bootstrap.min.js')}}" type='text/javascript'></script>
    <script src="{{static_url('main.js')}}" type='text/javascript'></script>

    <link href="{{static_url('lib/css/markdown.css')}}" rel="stylesheet">
    <link href="{{static_url('lib/css/pygments.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class='raw_text' style='height:100%; padding: 10px;'>

      <div class='left' style='float: left; width: 46%; position: relative; left: 1%; overflow: hidden; height: 800px'>
        <textarea id='raw' style='width: 98%; height: 98%; resize: none;' oninput="updatePreview();"></textarea>
      </div>
      <div class='right' style='float: left; width: 49%; position: relative; left: 4%; overflow: hidden; height: 800px'>
        <div id='mirror' class="html-output markdown-body" style="width: 98%; height: 98%; border: ridge"></div>
      </div>
    </div>
  </body>
</html>
